! My Default
! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
!! Color scheme for normal row
!rofi.color-normal:                   argb:00000000,  #D8DEE9 , argb:00000000,  #FAB1C3,  #346f7a
rofi.color-normal:                   argb:00000000,  #976490, argb:00000000,  #a0d6d5,  #346f7a
!! Color scheme for urgent row
rofi.color-urgent:                   argb:00000000,  #F99157 , argb:00000000,  #F99157 , #346f7a
!! Color scheme for active row
rofi.color-active:                   argb:00000000,  #6699CC , argb:00000000,  #6699CC , #346f7a
!! Color scheme window
rofi.color-window:                   argb:eeffffff,  #a0d6d5,  #a0d6d5
!! Separator style (none, dash, solid)
rofi.separator-style: dash

!urxvt stuff
URxvt.font: xft:Noto Mono:size=10
URxvt.scrollBar: false

! breeze - terminal colours based on the KDE Breeze palette

URxvt*foreground:   #fcfcfc
URxvt*background:   #232629
URxvt*cursorColor:  #1abc9c

! black
URxvt*color0:       #31363b
URxvt*color8:       #4d4d4d

! red
URxvt*color1:       #ed2929
URxvt*color9:       #ed1515

!green
URxvt*color2:       #21d96d
URxvt*color10:      #0bd961

!yellow
URxvt*color3:       #fcc74c
URxvt*color11:      #fde04b

!blue
URxvt*color4:       #3daee9
URxvt*color12:      #3d95e9

!magenta
URxvt*color5:       #9847b5
URxvt*color13:      #a94fc9

!cyan
URxvt*color6:       #1abc9c
URxvt*color14:      #1cdc9a

!white
URxvt*color7:       #eff0f1
URxvt*color15: #fcfcfc

!transparency
URxvt.transparent:	true
URxvt.shading: 25
